= simple_form_for(@tag_battle) do |f|
  = f.error_notification

  .form-inputs

    = label_tag 'Hashtag 1'
    = f.error :tag1
    - tag1_value = params[:tag_battle].present? ? params[:tag_battle][:tag1] : ''
    = autocomplete_field_tag 'tag_battle[tag1]', '', autocomplete_hashtag_name_tag_battles_path,
                id_element: '#portfolio_stock_equity_id', value: tag1_value, 'min-length' => 1, placeholder: 'enter your first hashtag'


    = label_tag 'Hashtag 2'
    = f.error :tag2
    - tag2_value = params[:tag_battle].present? ? params[:tag_battle][:tag2] : ''
    = autocomplete_field_tag 'tag_battle[tag2]', '', autocomplete_hashtag_name_tag_battles_path,
               id_element: '#portfolio_stock_equity_id', value: tag2_value, 'min-length' => 1, placeholder: 'enter your second hashtag'

    = f.input :description, placeholder: 'optional'

  .form-actions
    = f.button :submit, 'Create New Battle'
