%p#notice= notice

%p
  %h2= "#{@tag_battle.tag1.display_name} vs. #{@tag_battle.tag2.display_name}"
  %h3= "#{@tag_battle.description}"
%P
%table
  %tr
    %th= @tag_battle.tag1.display_name
    %th= @tag_battle.tag2.display_name

    %tr
      %td= @tag_battle.tag1.mentions_since(@tag_battle.created_at)
      %td= @tag_battle.tag2.mentions_since(@tag_battle.created_at)

%p
  = "Since: #{@tag_battle.created_at.strftime("%a, %e %b %Y %H:%M:%S %z")}"
%p
  %strong= "last updated #{time_ago_in_words(@tag_battle.last_fetched)} ago -- refreshes approx. every 10 minutes"

%br
= link_to 'View All Battles', tag_battles_path

:javascript
  setInterval("refresh_page();", 60000);

    function refresh_page(){
        window.location = location.href;
    }
