%p#notice= notice

%p
  %h2= "#{@tag_battle.tag1.name} vs. #{@tag_battle.tag2.name}"
  %h3= "#{@tag_battle.description}"
%P
%table
  %tr
    %th= @tag_battle.tag1.name
    %th= @tag_battle.tag2.name

    %tr
      %td= @tag_battle.tag1.mentions_since(@tag_battle.created_at)
      %td= @tag_battle.tag2.mentions_since(@tag_battle.created_at)

%br
= link_to 'Back', tag_battles_path
